body {
  margin: 5% 2% 10%;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-style: italic;
}

h2 {
  font-size: 3rem;
  font-style: italic;
}

h3 {
  font-size: 2rem;
  font-style: italic;
}

h4 {
  font-size: 1.5rem;
}

.unavailable {
  color: red;
  font-size: 1rem;
  font-style: italic;
}

.landing-page-picture {
  width: 200px;
  height: 200px;
}
